<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="ErrorsDirectory" value="\\172.30.1.132\share\PPlogfiles\Produktion\ProdPP\ELMAH"/>-->
		<add key="ErrorsDirectory" value="C:\Temp\ELMAH"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
