<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
	<appSettings>
		<add key="ErrorsDirectory" value=""/>
	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file" xsi:type="File"
				layout="${longdate} ${logger} ${message}"
				fileName="${basedir}/logs/elmahofflineviewer_log.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		</targets>

		<rules>
			<logger name="*" minlevel="Error" writeTo="file" />
		</rules>
	</nlog>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
</configuration>
