<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElmahLogAnalyzer.Core.Infrastructure.Settings.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElmahLogAnalyzer.Core.Infrastructure.Settings.UserSettings>
            <setting name="MaxNumberOfLogs" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ExportLogsDirectory" serializeAs="String">
                <value />
            </setting>
        </ElmahLogAnalyzer.Core.Infrastructure.Settings.UserSettings>
    </userSettings>
</configuration>