<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.net>
		<mailSettings>
			<smtp from="pelle.henriksson@gmail.com">
				<network host="smtp.gmail.com" enableSsl="true" port="465" userName="pelle.henriksson" password="rokkahart666"/>
			</smtp>
		</mailSettings>
	</system.net>
	
</configuration>