<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="webserverConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.WebServerConnectionsSection, ElmahLogAnalyzer.Core" />
		<section name="databaseConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.DatabaseConnectionsSection, ElmahLogAnalyzer.Core" />
	</configSections>
	
	<webserverConnections>
		<connections>
			<add url="http://localhost:1234/elmah.axd" />
			<add url="http://production/someapp/elmah.axd" username="pelle" password="secret" domain="mydomain" />
		</connections>
	</webserverConnections>
	
	<databaseConnections>
		<connections>
			<add type="SqlServer" name="Development" server=".\sqlexpress" database="dev_db" username="user" password="password" />
			<add type="SqlServer" name="Production" server="SomeServer" database="prod_db" schema="custom" username="user" password="password" />
      <add type="SqlServer" name="NoCredentials" server=".\sqlexpress" database="test_db" />
			<add type="SqlServerCompact" name="SomeCompactDb" file="c:\somefile.sdf" />
      <add type="SqlServer" name="SelectApplication" server=".\sqlexpress" database="elmah" application="some-website" />
		</connections>
	</databaseConnections>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
