<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="webserverConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.WebServerConnectionsSection, ElmahLogAnalyzer.Core"/>
		<!--<section name="databaseConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.DatabaseConnectionsSection, ElmahLogAnalyzer.Core"/>-->
	</configSections>
	
	<webserverConnections>
		<connections>
			<add url="http://localhost:1234/elmah.axd" />
			<add url="http://production/someapp/elmah.axd" username="pelle" password="secret" domain="mydomain" />
		</connections>
	</webserverConnections>
	
	<!--<databaseConnections>
		<connections>
			<add type="sql" name="Development" server="" database="" username="" password="" port=""  />
			<add type="sql" name="Production" server="" database="" username="" password="" port=""  />
			<add type="sqlcompact" name="SomeCompactDb" file=""  />
			<add type="access" name="SomeAccessDb" file="" />
		</connections>
	</databaseConnections>-->

</configuration>