<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<section name="webserverConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.WebServerConnectionsSection, ElmahLogAnalyzer.Core"/>
		<section name="databaseConnections" type="ElmahLogAnalyzer.Core.Infrastructure.Configuration.DatabaseConnectionsSection, ElmahLogAnalyzer.Core"/>
	</configSections>
		
	<webserverConnections>
		<!--<connections>
			<add url="http://localhost:1234/elmah.axd" />
			<add url="http://production/someapp/elmah.axd" username="pelle" password="secret" domain="mydomain" />
		</connections>-->
	</webserverConnections>

	<!-- valid types  are: SqlServer and SqlServerCompact -->
	<databaseConnections>
		<!--<connections>
			<add type="SqlServer" name="Development" server=".\sqlexpress" database="dev_db" username="user" password="password" />
			<add type="SqlServer" name="Production" server="SomeServer" database="prod_db" username="user" password="password" />
			<add type="SqlServerCompact" name="SomeCompactDb" file="c:\somefile.sdf"  />
			<add type="SqlServerCompact" name="Another SomeCompactDb" file="c:\data\anotherfile.sdf"  />
		</connections>-->
	</databaseConnections>
	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		
		<extensions>
			<add assembly="NLog.Extended" />
		</extensions>
		
		<targets>
			<target name="file" xsi:type="File"
				layout="${level} ${longdate} ${logger} ${message}"
				fileName="${basedir}/logs/ElmahLogAnalyzer_log.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
			
			<target name="debugger" xsi:type="Debugger"
					layout="${level} ${longdate} ${logger} ${message}" />
		</targets>

		<rules>
			<!-- Switch to minlevel=Debug for extensive logging -->
			<logger name="*" minlevel="Error" writeTo="file" />
			<logger name="*" minlevel="Debug" writeTo="debugger" />
		</rules>
	</nlog>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
</configuration>
